body {
  background: url("/blog/images/front-bg.png") #e7e9eb;
}

#content {
  margin: 0 auto;
  background: #fdfdfd;
  border-radius: 4px;
  border: 1px solid #cecfd1;
  width: 800px;

  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-top: 100px;
  padding: 30px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  color: #555;
  padding-bottom: 20px;
}

h2 {
  font-size: 12px;
  color: #555;
  padding-bottom: 20px;
}

ul {
  color: #8a8e90;
  font-size: 11px;
}

li {
  display: inline;
}

li+li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}